{% extends 'client/base.html' %}

{% block content %}
<!doctype html>
<style>
.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
</style>

<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <p class="card-text">{{ object.title }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ object.content }}
                    </p>
                    <a href="{% url 'blog:blog_view' object.pk %}"
                       class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}