{% extends 'client/base.html' %}

{% block content %}
<!doctype html>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <p class="card-text">{{object.mailing_time}}</p>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">Дата попытки: </p>
                        <p class="card-text">{{object.date}}</p>
                        <p class="card-text">Время попытки</p>
                        <p class="card-text">{{object.time}}</p>
                        <p class="card-text">Статус</p>
                        <p class="card-text">{{object.status}}</p>
                        <p class="card-text">Ответ сервера</p>
                        <p class="card-text">{{object.server_response}}</p>
                        <p class="card-text">Рассылка</p>
                        <p class="card-text">{{object.newsletter}}</p>
                        <div class="btn-group">
                            <a href="{% url 'message:update_newsletter' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Внести изменения</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}